@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Coming Soon, sans-serif;
}

header,
main,
footer {
    display: grid;
    place-items: center;
}

header,
footer {
    background-color: rgb(14, 94, 207);
    color: rgb(255, 255, 255);
    text-align: center;
}

main {
    background-color: rgb(208, 208, 208);
}

nav a {
    padding: 20px;
    color: rgb(255, 255, 255);
    display: none;
}

nav a:hover {
    text-decoration: none;
    color: #ffa6ff;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
}

#images {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    max-width: 1000px;
}

.image {
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 700px) {
    #images {
        grid-template-columns: 1fr 1fr;
    }

    .image {
        margin: 15px;
    }
}

@media screen and (min-width: 1000px) {
    #images {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .image {
        margin: 25px;
    }

    .menu-btn {
        display: none;
    }

    nav a {
        display: inline;
    }

    nav {
        text-align: center;
        margin: 15px;
    }
}