body {
    margin: 60px auto;
    width: 30%;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 135px;
    padding-right: 135px;
    border: 1px solid black;
}

#title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 3px;
}

#college-name {
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 5.5px;
    color: #1f75ae;
    margin-bottom: 0;
}

hr {
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin-top: 2px;
}

#paragraph {
    font-size: 1.2em;
    margin-top: 40px;
    line-height: 1.5;
}

#pre-list-line {
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.5;
}

li {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 15px;
}

img {
    width: 30%;
    display: block;
    margin: 60px auto;
}